@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: linear-gradient(to top, #4A9E9D, #5F2C82);
}


#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 530px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.418);
}


#imagem {
    width: 250px;
    height: 200px;
    background: url('../imagens/metal.jpg') no-repeat bottom center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

h1 {
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}

#p-login {
    font-size: 0.7em;
    padding: 10px;
    line-height: 1.3em;
}

form {
    text-align: center;
}

span {
    color: white;
}

.campo {
    background-color: #5F2C82;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 2px;
}

input {
    border: none;
    padding: 13px;
    background-color: #94CFCD;
    border-radius: 10px;
}

.botao {
    font-size: 1em;
    background-color: #53AAA7;
    color: rgb(255, 249, 249);
    padding-left: 100px;
    padding-right: 85px;
    margin: 0px 10px 7px 10px;
}

.botao:hover {
    background-color: #458d8b;
}

a {
    color: #2D6462;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #49A09D;
    border-radius: 10px;
}

a:hover {
    background-color: #6CD3CF;
}

a > span {
    color: #2D6462;
}